@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/* General chatbot styling */
.chatbot {
	position: fixed;
	bottom: 20px;
	right: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	background-color: #f9f9f9;
	/* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for 3D effect */
	transition: width 0.5s ease, height 0.5s ease;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

/* Styling for the chatbot in compact mode */
.chatbot.compact {
	width: 300px;
	height: 400px;
}

/* Styling for the chatbot in expanded mode */
.chatbot.expanded {
	width: auto;
	height: 600px;
	max-width: auto;
	max-height: 80vh;
}

/* Chat messages area */
.chat-messages {
	flex-grow: 1;
	padding: 10px;
	overflow-y: auto;
	background: white;
	border-bottom: 1px solid #eee;
}

/* Individual message styling */
.message {
	margin: 5px 0;
	padding: 8px;
	border-radius: 15px;
	color: var(--primary-color);
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4;
}

/* User message styling */
.message.user {
	background-color: var(--card-bg-04);
	align-self: flex-end;
}

/* Bot message styling */
.message.bot {
	background-color: var(--card-bg-02);
	align-self: flex-start;
}

/* Chat input area */
.chat-input {
	display: flex;
	padding: 10px;
	background: #fafafa;
	border-top: 1px solid #eee;
}

/* Input field styling */
.chat-input input {
	flex: 1;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 20px;
	margin-right: 10px;
	font-family: Arial, sans-serif;
}

/* Send button styling */
.chat-input button {
	padding: 10px 10px;
	border: none;
	border-radius: 10px;
	background-color: var(--primary-color);
	color: white;
	cursor: pointer;
	font-family: Arial, sans-serif;
	transition: background-color 0.3s;
}

.chat-input button:hover {
	background-color: var(--primary-color);
}

/* Resize button styling */
.resize-button {
	top: 5px;
	right: 5px;
	border: none;
	background: white;
	color: var(--primary-color);
	border-radius: 100%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-left: 10px;
}

.resize-button:hover {
	background-color: #0056b3;
}
.close-button {
	right: 5px;
	border: none;
	background: white;
	color: var(--primary-color);
	border-radius: 100%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-left: 10px;
}
.close-button:hover {
	background-color: #ff0000;
}
.chatbot-header {
	background-color: var(--primary-color);
	color: white;
	text-align: left;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	position: relative;
}
.header-buttons {
	display: flex;
	align-items: center;
}
.minimize-button {
	right: 5px;
	top: 5px;
	border: none;
	background: none;
	cursor: pointer;
	font-size: 16px;
	color: white; /* Set a color for the icon */
}
.chatbot-icon {
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: 24px;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sentiment-feedback button {
	background-color: #f0f0f0; /* Light grey background */
	border: none;
	border-radius: 15px; /* Rounded corners */
	padding: 5px 10px; /* Top/bottom and left/right padding */
	margin: 0 5px; /* Space between buttons */
	cursor: pointer; /* Cursor to pointer to indicate it's clickable */
	transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background color */
	outline: none; /* Remove focus outline */
}

.sentiment-feedback button.positive:hover {
	background-color: #d4edda; /* Light green background on hover */
	color: #155724; /* Darker green text on hover */
}

.sentiment-feedback button.neutral:hover {
	background-color: #fff3cd; /* Light amber background on hover */
	color: #856404; /* Darker amber text on hover */
}

.sentiment-feedback button.negative:hover {
	background-color: #f8d7da; /* Light red background on hover */
	color: #721c24; /* Darker red text on hover */
}
/* You can add more specific styles like shadows or different fonts if you like */
.sentiment-feedback button:focus {
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); /* Adding focus style */
}
