.signup__image--container{
    background-image: url("../assets/Signup_image.png");
    heignt: 100vh;
    background-size: cover;
}
.signup__form--container,
.login__form--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.login__image--container{
    background-image: url("../assets/Login_image.png");
    heignt: 100vh;
    background-size: cover;
}

@media screen and (max-width:765px) {
    .login__image--container,
    .signup__image--container {
        display: none;
    }
    
}